<!DOCTYPE html>
<html>
  <head>
    <title>LoginPage</title>
  </head>
  <body>
    <h3>Login</h3>
    <label>UserName</label><br />
    <input
      type="text"
      placeholder="Enter your username"
      class="form-control"
      [(ngModel)]="us"
      required="true"
    /><br />
    <label>Password</label><br />
    <input
      type="password"
      placeholder="Enter your password"
      class="form-control"
      [(ngModel)]="ps"
      minlength="8"
      maxlength="16"
      required="true"
    /><br />
    <button class="btn btn-primary" (click)="authLogin()">Login</button>
  </body>
</html>
