<!DOCTYPE html>
<html>

<head>
  <title>LoginPage</title>
</head>

<body>
  <div class="bodyColor">
  <h3>Login</h3>
  <div class="form-group row">
    <label for="inputUserName" class="col-sm-1 col-form-label"><b>UserName:</b></label>
    <div class="col-sm-10">
      <input type="text" placeholder="Enter your username" class="form-control" [(ngModel)]="us" required="true" />
    </div>
  </div><br>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-1 col-form-label"><b>Password:</b></label>
    <div class="col-sm-10">
      <input type="password" placeholder="Enter your password" class="form-control" [(ngModel)]="ps" minlength="8"
    maxlength="16" required="true" />    
    </div>
  </div><br>
  <button class="btn btn-primary" (click)="authLogin()">Login</button>
  </div>
</body>

</html>